.notFound {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.title {
  font-size: 2rem;
}

.subtitle {
  color: rgba(255, 255, 255, 0.7);
}
